body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:
    margin: 0 20px 0 20px;
}

header {
    margin-bottom: 20px;
  }

.bannerHeader {
display: flex;
width: 100%;
}

header div {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px 0 20px 0;
}

  .logoHeader {
    width: 5%;
    }

  .contenedorNav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.enlace {
    color:white;
    font-weight: 600;
}

.contenedorNav {
    display: flex;
}

footer {
  color: white;
  text-align: center;
}

#loginFormContainer {
margin: 20px auto 20px auto;
border-radius: 10px;
width: 400px;
height: 200px;
background-color: white;
}

#logDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  }